@model IEnumerable<wepp_app_v0.Models.Requerimiento>

@{
    ViewBag.Title = "Requerimientos Programados";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>
            Num. Requerimiento
        </th>
        <th>
            Lider de Proyecto
        </th>
        <th>
            Ing. de Soluciones
        </th>
        <th>
            Estado
        </th>
        <th>
            Prioridad
        </th>
        <th>
            Año Priorizacion
        </th>
        <th>
            Periodo Priorizacion
        </th>
        <th>
            Fecha Priorizacion
        </th>
        <th>
            Lider Usuario
        </th>
        <th>
            Nivel Complejidad
        </th>
        <th>
            Unidad Negocio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumReq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiderProyecto.ApellidoPaterno) - @Html.DisplayFor(modelItem => item.LiderProyecto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdS.ApellidoPaterno) - @Html.DisplayFor(modelItem => item.IdS.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnhoPriorizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodoPriorizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPriorizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiderUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NivelComplejidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadNegocio)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id=item.IdRequerimiento })
        </td>
    </tr>
}

</table>
