@model wepp_app_v0.Models.PersonalInterno

@{
    ViewBag.Title = "Detalles Recurso";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>PersonalInterno</legend>

    <div class="display-label">Rol</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rol)
    </div>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Apellido Paterno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApellidoPaterno)
    </div>

    <div class="display-label">Apellido Materno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApellidoMaterno)
    </div>

   
    <div class="display-label">Estado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoPersonal)
    </div>

    

    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdPersonalInterno }) |
    @Html.ActionLink("Regresar", "Index")
</p>
