@model IEnumerable<wepp_app_v0.Models.Vacacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Anho
        </th>
        <th>
            FechaFin
        </th>
        <th>
            FechaInicio
        </th>
        <th>
            Periodo
        </th>
        <th>
            personalInterno
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Anho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.personalInterno.ApellidoMaterno)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdVacacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdVacacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdVacacion })
        </td>
    </tr>
}

</table>
