@model wepp_app_v0.Models.Actividad

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Actividad</legend>

    <div class="display-label">cronograma</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cronograma.Estado)
    </div>

    <div class="display-label">personalInterno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.personalInterno.ApellidoMaterno)
    </div>

    <div class="display-label">OrdenActividad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrdenActividad)
    </div>

    <div class="display-label">TipoActividad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoActividad)
    </div>

    <div class="display-label">FechaInicio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaInicio)
    </div>

    <div class="display-label">FechaFin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaFin)
    </div>

    <div class="display-label">Avance</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Avance)
    </div>

    <div class="display-label">Asignacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Asignacion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Regresar", "Index")
    </p>
}
